{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
     <html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        header {
            background-image: url("../static/covidvirus.jpg");
            background-position: 50% 65%;
        }

        h5 {
            text-align: justify;
        }

        p {
            text-align: justify;
        }

        li {
            text-align: justify;
        }

    </style>
    <body>

    <!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">Restriccions vigents a Catalunya</h1>
        <p class="w3-xlarge" style="text-align: center">Aprovades pel PROCICAT i prorrogades fins al dia 9 d'abril</p>
    </header>

    <!-- 1a Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Què es pot fer i què no a Catalunya?</h1>
                <h5 class="w3-padding-32"> A partir d'aquest divendres s'hi afegeixen les mesures específiques per Setmana Santa aprovades per Sanitat</h5>

                <p class="w3-text-grey">L'evolució de la pandèmia a Catalunya no és bona. De fet, les dades dels darrers dies mostren un "petit repunt" -en paraules de la consellera de Presidència, Meritxell Budó- i és per això que el Govern ha optat per no aplicar cap modificació a les actuals restriccions. Així doncs, es prorroguen les mesures fins al 9 d'abril, passada Setmana Santa.
</p>

            </div>

            <div class="w3-third w3-center">
                <img class="w3-padding-64" src="../static/salut.jpg"
                     style="width: 250px;height: 350px;margin-left: 64px">
            </div>
        </div>
    </div>

    <!-- 2a Grid MOBILITAT -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <img class="w3-padding-64" src="../static/baby-car.png"
                     style="width: 250px;height: 350px;margin-right: 64px">
            </div>

            <div class="w3-twothird">
                <h1>Mobilitat</h1>

                 <ul class="w3-text-grey">
                    <li>Llibertat de moviments per tot Catalunya cada dia, però només amb la bombolla de convivència.</li>
                     </p>
                    <li>Mobilitat permesa entre els veïns de l'Alt Urgell i Andorra.</li>
                     </p>
                    <li>Prohibida l'entrada i la sortida de Catalunya excepte per causa justificada.</li>
                     </p>
                    <li>Es recomana limitar els desplaçaments fora del domicili i la circulació per la via pública.</li>
                     </p>
                    <li>Toc de queda nocturn de les 10 de la nit a les 6 del matí.</li>
                     </p>
                    <li>El transport públic es manté al 100%.</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 3a Grid TROBADES-->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Trobades i reunions</h1>

                <ul class="w3-text-grey">
                    <li>Prohibides les reunions de més de 6 persones, excepte els que siguin de la bombolla de convivència.</li>
                    </p>
                    <li>A partir
        del 26 de març, el màxim serà de 4 persones, tal com marca el pla especial del Ministeri de Sanitat per Setmana
        Santa.</li>
                    </p>
                    <li>Mantenir les bombolles de convivència o bombolles ampliades.</li>
                </ul>
            </div>
            <div class="w3-third w3-center">
                <img class="w3-padding-64" src="../static/family.svg"
                     style="width: 250px;height: 350px;margin-left: 64px">
            </div>
        </div>
    </div>

    <!-- 4a Grid COMERÇ-->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <img class="w3-padding-64" src="../static/compres.svg"
                     style="width: 250px;height: 350px;margin-right: 64px">
            </div>

            <div class="w3-twothird">
                <h1>Comerç i serveis</h1>

                 <ul class="w3-text-grey">
                    <li>Reobertura de tots els comerços no essencials cada dia de la setmana.</li>
                     </p>
                    <li>Obertura de centres comercials cada dia.</li>
                     </p>
                    <li>Aforament limitat al 30% en establiments comercials.</li>
                     </p>
                    <li>Obertura dels locals de fins a 800 metres quadrats cada dia.</li>
                     </p>
                    <li>Llibreries obertes cada dia.</li>
                     </p>
                    <li>Els establiments comercials oberts al públic han de tancar a les 21 hores del vespre.</li>
                     </p>
                    <li>Es permet la recollida esglaonada al local i el repartiment a domicili.</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 5a Grid ENSENYAMENT -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Ensenyament i universitats</h1>

                <ul class="w3-text-grey">
                    <li>Docència presencial a infantil, primària i ESO.</li>
                    </p>
                    <li>Docència presencial fins al 30% a les universitats.</li>
                    </p>
                    <li>Es permeten les activitats extraescolars en infantil, primària, secundària, batxillerat i cicles formatius.</li>
                    </p>
                    <li>Poden obrir les escoles per a adults, de règim d'ensenyament especial i escoles oficials d'idiomes.</li>
                    </p>
                    <li>Poden obrir les escoles de música i dansa.</li>
                    </p>
                    <li>Semipresencialitat en els estudis postobligatoris.</li>
                    </p>
                    <li>Els caus i esplais també es poden reprendre.</li>
                    </p>
                    <li>Es permeten les pernoctacions en les sortides escolars sempre que siguin amb el grup bombolla del centre.</li>
                </ul>
            </div>
            <div class="w3-third w3-center">
                <img class="w3-padding-64" src="../static/pissarra.svg"
                     style="width: 250px;height: 350px;margin-left: 64px">
            </div>
        </div>
    </div>

    <!-- 6a Grid CULTURA-->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <img class="w3-padding-64" src="../static/teatre.svg"
                     style="width: 250px;height: 350px;margin-right: 64px">
            </div>

            <div class="w3-twothird">
                <h1>Cultura i lleure</h1>

                 <ul class="w3-text-grey">
                    <li>Reobertura de fires i atraccions no permanents.</li>
                     </p>
                    <li>Sales de joc, bingos i casinos oberts al 30%.</li>
                     </p>
                    <li>Cinemes, teatres, auditoris i circs poden obrir al 50%, amb un límit de 500 persones, totes assegudes.</li>
                     </p>
                    <li>Si compleixen amb unes condicions de ventilació i control, podran acollir fins a un màxim de 1.000 persones, totes
        assegudes i amb assignació prèvia de seients i registre previ.</li>
                     </p>
                    <li>Poden obrir fins a les 10 de la nit, i els espectadors poden tenen un salconduit fins a les 11 hores per
        tornar d'aquests actes sempre que puguin acreditar-ho mitjançant les entrades.</li>
                     </p>
                    <li>Es poden tornar a celebrar gales, entregues de premis i festivals en el sector cultural.</li>
                     </p>
                    <li>Museus, biblioteques i sales d'exposicions es mantenen amb la meitat d'aforament i un límit de 600 persones.</li>
                     </p>
                    <li>Prohibida l'obertura d'establiments d'activitats lúdiques infantils privades en espais tancats.</li>
                     </p>
                    <li>Parcs i jardins públics i àrees de joc infantils a l'aire lliure amb una ocupació del 50% i tancats a les 20
        hores.</li>

                </ul>
            </div>
        </div>
    </div>

    <!-- 7a Grid RELIGIÓ -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Celebracions religioses i civils</h1>

                <ul class="w3-text-grey">
                    <li>Actes religiosos i cerimònies amb assistència limitada al 30%.</li>
                    </p>
                    <li>S'amplia el límit d'assistents als actes religiosos a 500 persones.</li>
                    </p>
                    <li>Si es respecta el màxim d'aforament del 30%, es podrà arribar a 1.000 persones, si es desenvolupen de forma
        estàtica, a l'aire lliure o bé en espais físics tancats complint les condicions de ventilació i qualitat de
        l'aire reforçades i garantint mesures de control d'aglomeracions.</li>
                    </p>
                    <li>També en tots aquests casos els titulars d'aquestes activitats hauran de presentar una declaració responsable
        al departament de Justícia, i a l'ajuntament del municipi on s'ubiqui l'espai de l'activitat.</li>
                </ul>
            </div>
            <div class="w3-third w3-center">
                <img class="w3-padding-64" src="../static/missa.svg"
                     style="width: 250px;height: 350px;margin-left: 64px">
            </div>
        </div>
    </div>

    <!-- 6a Grid ESPORT-->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <img class="w3-padding-64" src="../static/bici.svg"
                     style="width: 250px;height: 350px;margin-right: 64px">
            </div>

            <div class="w3-twothird">
                <h1>Activitats esportives</h1>

                 <ul class="w3-text-grey">
                    <li>Oberts els equipaments esportius d'interior -inclosos gimnasos i piscines- al 30%, amb ús de mascareta.</li>
                     </p>
                    <li>Es reprenen totes les competicions esportives federades.</li>
                     </p>
                    <li>Es permetrà el públc a totes les competicions d'àmbit català on hi hagi seient preassignat, al 50% a l'aire
        lliure i al 30% en interiors.</li>
                     </p>
                    <li>Vestidors esportius utilitzats per tots els usuaris.</li>
                     </p>
                    <li>En espais interiors amb ventilació reforçada es permeten activitats en grup de més de 6 persones amb aforament
        màxim del 30% i ús de la mascareta.</li>
                     </p>
                    <li>Equipaments esportius a l'aire lliure amb aforament limitat al 50%.</li>
                     </p>
                    <li>Activitats en grup a l'aire lliure sense limitació de persones i sense necessitat de mascareta.</li>
                     </p>
                    <li>50% d'aforament a les piscines.</li>
                     </p>
                    <li>Es reprenen les activitats esportives i de memòries als centres cívics per a majors de 65 anys.</li>

                </ul>
            </div>
        </div>
    </div>

    <!-- 7a Grid RESTAURANTS -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Hoteleria i restauració</h1>

                <ul class="w3-text-grey">
                    <li>Es permet la recollida esglaonada al local i el repartiment a domicili.</li>
                    </p>
                    <li>El servei a domicili es pot distribuir fins a les 23 hores.</li>
                    </p>
                    <li>Terrasses de bars i restaurants obertes al 100% d'aforament de les 7.30 hores a les 17 hores.</li>
                    </p>
                    <li>Interiors de bars i restaurants obertes al 30% d'aforament de les 7.30 hores a les 17 hores.</li>
                    </p>
                    <li>Dos metres entre taules que, com a màxim, poden ser ocupades en grups de quatre persones. Si es tracta d'un
        grup bombolla, podrà haver-hi fins a sis persones.</li>
                    </p>
                    <li>Aforament del 50% en espais comuns dels hotels.</li>
                    </p>
                </ul>
            </div>
            <div class="w3-third w3-center">
                <img class="w3-padding-64" src="../static/cambrer.svg"
                     style="width: 250px;height: 350px;margin-left: 64px">
            </div>
        </div>
    </div>

    <!-- 6a Grid TREBALL-->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <img class="w3-padding-64" src="../static/treball.svg"
                     style="width: 250px;height: 350px;margin-right: 64px">
            </div>

            <div class="w3-twothird">
                <h1>Entorns de treball</h1>

                 <ul class="w3-text-grey">
                    <li>Teletreball en tots els casos que sigui possible.</li>
                     </p>
                    <li>Flexibilitat horària per esglaonar l'entrada i sortida de la feina.</li>
                     </p>
                    <li>Adoptar mesures d'organització en les condicions de treball i mesures de neteja i desinfecció.</li>
                     </p>
                    <li>Suspesos els congressos i convencions.</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
        <img class="w3-padding-64" src="../static/salutgeneralitat.png" style="width: 800px;height: 300px">
             </p>
        <h1 class="w3-margin w3-xlarge">Darrera actualització de la informació: dissabte 27 de març a les 17:14 hores </h1>
    </div>
    </body>
    </html>
{% endblock %}

