{% extends 'base.html' %}

{% block title %}Restriccions{% endblock %}

{% block content %}

    <head>
    {% load static %}
    <link rel=”stylesheet” href=”{% static 'css/restric.css' %}”>
    </head>

    <body>

    <div id="banner">
        <div class="inline-block">
            {% load static %}
            <img src="{%  static 'restric/r1.jpg' %}">
        </div>
        <div class="inline-block">
            {% load static %}
            <img src="{%  static 'restric/r2.jpg' %}">
        </div>
        <div class="inline-block">
            {% load static %}
            <img src="{%  static 'restric/r3.jpg' %}">
        </div>
    </div>

    </body>

{% endblock %}