{% extends 'base.html' %}

{% block title %}Test COVID-19{% endblock %}

{% block content %}

    <body>

    <h1>Welcome to Our Company</h1>
    <h1>Test COVID-19</h1>

    <p>Pregunta 1: {{ object_list.first.enunciat }}</p>
    <form method="post">
        {% csrf_token %}
        {{ pregunta_1.as_p }}
    </form>
    <p>Pregunta 2: {{ object_list.1.enunciat }}</p>
    <form method="post">
        {% csrf_token %}
        {{ pregunta_1.as_p }}
    </form>
    <p>Pregunta 3: {{ object_list.2.enunciat }}</p>
    <form method="post">
        {% csrf_token %}
        {{ pregunta_1.as_p }}
        <button type="submit">Enviar</button>
    </form>

    </body>

{% endblock %}